@media (max-width: 1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-width: 1020px){


    .jogos{
        display: block;
        width: 400px;
        height: 100%;

    }

    .jogos img{
        margin-left: 90px;
        
    }

    .jogos ul{
        width: 600px; 
        
    }

    .jogos li{
        width: 50%;
        margin-left: 50px;

    }
}

@media (max-width: 768px){
    .jogos{
        display: block;
        width: 400px;
        height: 100%;
    }

    .jogos img{
        margin-left: 90px;
    }

    .jogos ul{
        width: 100%; 
    }

    .jogos li{
        width: 100%;
        margin-left: 50px;
    }
}

@media (max-width: 425px){

    .jogos{
        display: block;
        width: 310px;
        height: 100%;
    }

    .jogos img{
        max-width: 100%; 
        margin-left: 50px;
    }

    .jogos ul{
        width: 100%; 
    }

    .jogos li{
        width: 300px; 
        margin-left: 10px;
    }
}
